#sn-title {
	width: 100vw;
}

#io-title {
	display: none;
}

#scratch-notifier {
	width: 100vw;
	height: calc(92vh - 2vh); /*Padding in top and bottom*/
	padding: 2vh 0 0 0;
}

#msg-count {
	left: 50vw;
}

#footer {
	width: calc(100vw - 2vh);
}

/*isOnline below*/

#isOnline {
	display: none;
}
